<ul>
  <li style="font-size: 10px;"> Date Format iso: Year-Day-Month-(T)Timezone:00(Hour):00(Minute):000(Milesecond)Z </li>
  <li> Date  {{ hutang.date }} <br> </li>
  <li> Created by: {{ hutang.createdBy }} </li>
  <li> Pemberi: {{ hutang.pemberiHutang }} </li>
  <li> Penerima: {{ hutang.penerimaHutang }} </li>
  <li> Amount (RM) : {{ hutang.hutangAmount }} </li>
  <li> Description: {{ hutang.description }} </li>
  <li> status: {{ hutang.status}} </li>
  <li> Location: {{ hutang.location}} </li>
</ul>
